<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="/css/main.css">
    
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/main.css">
    <title>Comprobar DNI</title>
</head>
<body>
    <h1>Introduce un numero</h1>
    <form action="/" method="POST">
    <label for="numero">Número</label>
    <input type="number" id="numero" max="100" min="1" name="numero">
    <input type="submit">
</form>
</body>
</html>