<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mi Número</title>
</head>
<body>
    <h2>¿Es número impar?</h2>
    <div class="card">
        <p>el <%= numero %> es <%= tagline %></p>

        

    </div>     
    <h3><a href="/">Introduce otro número</a></h3>
</body>
</html>