.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: fit-content;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

body {
  width: 75%;
  margin: 0 auto;
  background-color: aqua;
}

.dniOK, .dniKO, .dni {
  display:inline;
}

.dniOK {
  color: green;
  font-size: larger;
  margin-left: 1rem;
}

.dniKO {
  color:red;
  font-size: larger;
  margin-left: 1rem;
}

img {
  width: 200px;
}

form {
  width: 25%;
}